<div class="shop-container">
    <div class="nav-bar">
        <div class="products">
            <button routerLink="/shop/products" [ngClass]="{pressedButton: selectedPage==0}" (click)="setClass(0)">Products</button>
        </div>
        <div class="cart">
            <button routerLink="/shop/cart" [ngClass]="{pressedButton: selectedPage==1}" (click)="setClass(1)">My Cart</button>
        </div>
    </div>
    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
</div>
