/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.custom-centered-modal .mat-dialog-container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: auto !important;
    max-height: 90vh !important;
    padding: 25px !important;
    border-radius: 12px !important;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1) !important;
  }
  
  .cdk-overlay-pane {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  